body{
    background-color: #313131;
}

p.texto1{
    color:#64bdf0;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: x-large;
}

p.texto2{
    color: #e1e44a;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}